@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    user-select: none;
}

.clock-frame {
    max-width: 350px;
    min-height: 500px;
    margin-top: 20px
}

.display {
    width: 200px;
    height: 150px;
}

.number {
    font-family: 'Share Tech Mono', monospace
}

.controls {
    width: 160px
}

.button {
    cursor: pointer;
}
